Flask
Pillow
gunicorn
pandas
numpy
scikit-learn
matplotlib
spacy
tqdm
huggingface-hub
opencv-python-headless
seaborn

# Use PyTorch CPU-only wheels (MUCH smaller and Render-friendly)
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.0.1+cpu
torchvision==0.15.2+cpu
